th:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0 auto;
  min-height: 100%;

  background-image: url(images/back.jpg);
  background-size: cover;
  font-family: 'messinaMono', 'Courier New', Courier, monospace;

  // background-attachment: fixed;

  color: #f2efec;
}

@media (min-width: 500px) {
  body {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #2e231d;
  }
}

header {
  position: relative;
  margin: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-family: 'messinaMono', 'Courier New', Courier, monospace;
  color: #f2efec;
  h1 {
    text-align: center;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  ul li {
    list-style: none;
    margin-right: 3rem;
    margin-top: 0.5rem;
  }
  ul {
    // border: 1px solid #f2efec;
    border-radius: 10px;
  }
}

#menuToggle {
  display: block;
  position: absolute;
  top: 6px;
  left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #f2efec;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -3px);
  background: #f2efec;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 375px;
  height: 812px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-image: url('images/background2.jpg');

  // background: #7b6c52;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 30px 0;
  font-size: 28px;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

a:link,
a:visited {
  color: #f2efec;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  color: #f2efec;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-top: 3rem;
  margin-left: 1rem;

  div {
    padding: 1rem;
  }
}

button {
  border: 1px solid #f2efec;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;

  color: #f2efec;
  // font-family: 'Abril Fatface', cursive;
  font-size: smaller;
}

.cigar-info {
  font-family: 'messinaMono', 'Courier New', Courier, monospace;
  font-size: large;
  color: #f2efec;
}

.new-cigar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form.new-cigar {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

// .form-input {
//   //   display: flex;
//   //   justify-content: space-evenly;

input {
  align-items: flex-start;
  color: #f2efec;
  background: none;
  border-radius: 8px;
  text-align: center;
}

.submit-button {
  margin-top: 5px;
  margin-right: 2rem;
  margin-left: 34px;
  background-color: #f2efec;
  color: black;
}
option {
  background: none;
  border-radius: 8px;
  text-align: center;
}
