:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0 auto;
  min-height: 100%;

  background-image: url(images/back.jpg);
  background-size: cover;

  // background-attachment: fixed;

  color: #f2efec;
}
// // @media (min-width: 500px) {
// //   body {
// //     background-size: contain;
// //     background-repeat: no-repeat;
// //     background-position-x: center;
// //     background-color: #2e231d;
//   }
// }

header {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'messinaMono', 'Courier New', Courier, monospace;
  color: #f2efec;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  ul li {
    list-style: none;
    margin-right: 3rem;
    margin-top: 0.5rem;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-top: 3rem;
    margin-left: 1rem;

    div {
      padding: 1rem;
    }
  }
}
